<template>

    <div>
        <div style="background-color: #171717; padding-top: 30px;">
            <div class="container">
            <div class="row">
                <div class="col">
                    <b-img center rounded="circle " v-bind:src="artist.photo" width="200" height="200" blank-color="#777" alt="img" class="m-1" />
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-center artistName">{{artist.name}}</h1>
                    <button type="button" class="btn btn-success btnPlay">PLAY</button>
                </div>
            </div>

                <div class="row">
                    <div class="col">
                        <h2 class="text-center popularText">Popular</h2>
                        <table class="table table-dark table-hover table-borderless">
                            <tbody>
                              <tr v-for="(popularTrack, index) in popularTracks" v-on:dblclick.prevent="play(popularTrack)">
                                <td style="width:32px;">
                                    <i @click="playSong(popularTracks, index)" class="material-icons align-middle btnPlayPopular" style="color: white; font-size: 2.0em;">play_circle_outline</i>
                                </td>
                                <td class="align-middle">{{popularTrack.title}}</td>
                                <td class="align-middle text-right">
                                    {{popularTrack.play_count}}
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="container" v-show="albums != ''">
            <div class="row">
                <div class="col text-center" style="padding:20px;">
                    <h2>Albums ({{albumsCount}})</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3 text-center" v-for="album in albums">

                    <div class="hover" >

                            <div class="hover" v-show="album.id != playingTrack.album_id">
                                <img  class="img" v-bind:src="album.cover" @click="navigateToAlbum(album)">
                                <i class="material-icons btnCover d-none d-sm-block"  @click="playAlbum(album)">play_circle_outline</i>
                            </div>
                            <div class="hover" v-show="album.id == playingTrack.album_id">
                                <img  class="img currentTrackImage" v-bind:src="album.cover" @click="navigateToAlbum(album)">
                                <i class="material-icons btnCurrentPlayingSong d-none d-sm-block"  @click="playAlbum(album)">pause_circle_outline</i>
                            </div>
                    </div>

                    <p style="font-size: 1.2em; padding:5px;"><strong>{{album.name}}</strong></p>
                    <p>{{album.name}}</p>
                </div>
            </div>
        </div>

        <div class="container" v-show="singles!=''">
            <div class="row">
                <div class="col-12 text-center" style="padding: 20px;">
                    <h2>Singles ({{singlesCount}})</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3 text-center" v-for="(single, index) in singles">
                    <div class="hover">
                        <img  class="img d-none d-sm-block" v-bind:src="single.cover" @click="navigateToTrack(single)">
                        <img  class="img d-block d-sm-none" v-bind:src="single.cover" @click="playSong(singles, index)">
                        <i class="material-icons btnCover d-none d-lg-block" @click="playSong(singles, index)">play_circle_outline</i>
                    </div>
                    <p><strong>{{single.title}}</strong></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: ['id'],
        data: function () {
            return {
                names: [],
                albums: [],
                singles: [],
                artistID: this.id,
                artist: {},
                isPlaying: false,
                singlesCount: 0,
                albumsCount: 0,
                popularTracks: {},
            }
        },
        watch:{
            '$route'(to, from){
                this.fetchArtist();
            }
        },
        mounted(){
            this.fetchArtist();
        },
        computed:{
            playingTrack(){
                return this.$store.getters.playingTrack;
            }
        },
        methods:{
            navigateToAlbum(album){
                this.$router.push('/album/'+album.id);
            },
            navigateToTrack(track){
                this.$router.push('/track/'+track.id);
            },
            playSong(data, index){
                Event.$emit('playTrack', data, index);
            },
            playAlbum(album){
                axios.get('/api/album/'+album.id).then((response)=>{
                    this.tracks = response.data[0];
                    this.album = response.data[1][0];
                    Event.$emit('playTrack', this.tracks, 0);
                    this.isPlaying = true;
                });
            },
            fetchArtist(){
                axios.get('/api/artist/'+this.id).then(response => {
                    this.artist = response.data.artist;
                    this.albums = response.data.albums;
                    this.popularTracks = response.data.popular;
                    this.albumsCount = this.albums.length;
                    this.singles = response.data.singles;
                    this.singlesCount = this.singles.length;
                });
            }
        }
    }
</script>

<style>
    .hover {
        position: relative;
        width: 100%;
        max-width: 400px;
        background-color: black;
    }

    .hover img {
        width: 100%;
        height: auto;
    }

    .hover .btnCover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: transparent;
        font-size: 5em;
        cursor: pointer;
        text-align: center;
    }

    .hover:hover > .img {
        background-color: black;
        opacity: 0.2;
    }

    .hover:hover > .btnCover {
        color: white;
        font-size: 5em;
    }

    .btnCover:hover ~ .img{
        background-color: black;
        opacity: 0.2;
    }

    .btnCover:hover{
        font-size: 5.6em !important;
    }

    .btnPlay{
        padding: 5px 40px 5px 40px;
        border-radius: 20px;
    }
    .table{
        background-color: transparent;
        margin-top: 20px;
    }
    .btnPlayPopular:hover{
        cursor: pointer;
    }

    .popularText{
        font-weight: bold;
        margin-top: 60px;
    }

    .artistName{
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .currentTrackImage{
        background-color: black;
        opacity: 0.2;
    }

    .btnCurrentPlayingSong{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: white;
        font-size: 5em;
        cursor: pointer;
        text-align: center;
    }

</style>
