<template>
    <div class="container">
        <add-tracks v-bind:album="album"></add-tracks>
        <div class="row">
            <div class="col-md-3 text-center">
                <img class="img-fluid" v-bind:src="album.cover">
                <h1>{{album.name}}</h1>
                <h4>{{album.releaseDate}}</h4>
                <div class="text-center d-none d-sm-block">
                    <button class="btn btn-outline-danger" @click="deleteAlbum(album.id)" type="button">Delete Album</button>
                </div>
            </div>
            <div class="col-md-9">
                <table class="table">
                    <tbody>
                      <tr v-for="track in tracks">
                        <td>
                            <a class="btn" role="button" @click="play(track)">
                                <i :id="track.id"style="font-size: 2.0em;" class="fa fa-play-circle-o" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="align-middle">{{track.title}}</td>
                        <td class="align-middle">{{track.artist}}</td>
                        <td class="text-right d-none d-sm-block">
                            <button class="btn btn-danger" @click="deleteSong(track)" type="button">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <div class="text-center d-none d-sm-block">
                    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#addTracks" type="button">Add New tracks</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AddTracks from './AddTracks.vue';

    export default{
        components:{
            'add-tracks': AddTracks
        },
        props:['id'],
        data(){
            return{
                tracks:{},
                album:{},
            }
        },
        mounted(){
               this.fetchAlbum();
        },
        methods:{
            fetchAlbum(){
                axios.get('/api/album/'+this.id).then((response)=>{
                    this.tracks = response.data[0];
                    this.album = response.data[1][0];
                });
            },
            play(data){
                Event.$emit('playTrack', data);

            },
            deleteSong(track){
                axios.delete('/api/track/'+track.id).then((response)=>{
                    console.log(response.data);
                    this.fetchAlbum();
                });
            },
            deleteAlbum(id){
                axios.delete('/api/album/'+id).then((response)=>{
                    console.log(response.data);
                    this.$router.go(-1);
                });
            }

        }
    }
</script>
