<template>
    <div>
        <div class="container">
            <nav class="navbar navbar-light justify-content-between" style="background-color: #e9ecef;">
                <router-link :to="'/'">
                        <a class="navbar-brand">AfghanJam</a>
                </router-link>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </nav>
        </div>
        <router-view v-on:playTrack="playSong($event)"></router-view>
        <br><br><br><br><br><br>
        <player :song="song"></player>
    </div>
</template>

<script>
    import ArtistPage from './components/artists/ArtistPage.vue';
    import Player from './Player.vue';

    export default {
        data(){
            return{
                song:{},
                songServer: 'https://afghanjam.ams3.digitaloceanspaces.com/medias/mp3/',
                audio:''
            }
        },
        components: {
            'ArtistPage': ArtistPage,
            'player': Player
        }
    }
</script>
