<template>
    <div class="fixed-bottom" style="background-color: #3c3c3c;">
        <div class="row">
            <div class="col-1">
                <img class="img-fluid" width="75" height="75" v-if="track != ''"  v-bind:src="track.cover">
            </div>
            <div class="col-3 align-self-center">
                <span style="color: white;">{{track.artist}} - {{track.title}}</span>
            </div>
            <div class="col-1 align-self-center text-right">
                <span style="color: white;">{{currentTime}}</span>
            </div>
            <div class="col align-self-center">
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            song:{}

        },
        data(){
            return{
              track: this.song,
              currentTime:'',
              max:0,
              audio:'',
              counter: 0

            }
        },
        mounted(){
            Event.$on('playTrack', (data) => this.playTrack(data));
        },
        methods:{
            playTrack(data){
                this.track = data;
                this.currentTime = '';
                if(this.audio){
                    this.audio.pause();
                    this.currentTime = '';
                }

                var fullSongPath = this.track.url;
                var audio = new Audio(fullSongPath);

                this.audio = audio;
                this.audio.play();
                this.audio.onloadedmetadata = () => {

                    this.max = Math.floor(this.audio.duration);
                    document.getElementById("myRange").max = this.max;
                    console.log(this.max);
                }


                var slider = document.getElementById("myRange");

                slider.oninput = ()=> {
                    this.audio.currentTime = slider.value;
                }

                setInterval(()=>{
                    var mins = Math.floor(this.audio.currentTime / 60);
                    var secs = Math.floor(this.audio.currentTime % 60);
                    this.counter = Math.floor(this.audio.currentTime);
                    document.getElementById("myRange").value = this.counter;
                    if (secs < 10) {
                        secs = '0' + String(secs);
                    }
                    this.currentTime = mins + ':' +secs;
                }, 10);

            }
        }

    }
</script>

<style>
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 0px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #50e356;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
</style>
