<template>
    <div>
        <div class="container" style="margin-top:20px;">
            <div class="row">
                <div class="col-2 text-center" v-for="album in albums">
                    <img class="img-fluid"  v-bind:src="album.cover">
                    <p style="font-size: 1.3em;"><strong>{{album.name}}</strong></p>
                    <router-link :to="'/artist/' + album.id + '/edit'">
                        <button class="btn btn-danger">Edit</button>
                    </router-link>

                </div>
            </div>
        </div>
        <ul id="albums">
            <li v-for="single in singles">
                {{single.title}}
                <router-link :to="'/artist/' + single.id + '/edit'">Edit</router-link>
            </li>
        </ul>
    </div>
</template>

<script>

    export default {
        props: ['id'],

        data: function () {
            return {
                names: [],
                albums: [],
                singles: [],
                artistID: this.id,
            }
        },
        mounted(){
            this.fetchArtistAlbums();
            this.fetchArtistSingles();
        },
        methods:{
            addTodo: function () {
                eventHub.$emit('add-todo', { text: this.newTodoText })
                this.newTodoText = ''
            },
            fetchArtistAlbums(){
                   axios.get('api/albums/artist/'+this.id).then(response => {
                        this.albums = response.data;
                    });
            },
            fetchArtistSingles(){
                axios.get('api/artist/'+this.id+'/singles').then(response => {
                        this.singles = response.data;
                    });
            }
        }
    }
</script>
