<template>
    <div>
        <NewArtistModal></NewArtistModal>
        <div class="container" style="margin-top:20px;">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search..." v-on:keyup="fetchArtists($event)" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-3 text-center" v-for="name in names">
                    <router-link :to="'/artist/' + name.id">
                        <img class="img-fluid"  v-bind:src="name.photo">
                        <h4>{{name.name}}</h4>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import NewArtistModal from './NewArtistModal.vue';

    export default {
        components:{
            'NewArtistModal': NewArtistModal
        },
        data: function () {
            return {
                names: [],
            }
        },
        methods:{
            fetchArtists(e){
                if(e.target.value != ""){
                   axios.get('/api/artists/'+e.target.value).then(response => {this.names = response.data;});
                }else{
                    this.names = [];
                }
            }
        }
    }
</script>
