<template>
    <div class="container" style="margin-top:20px;">
        <b-modal ref="myModalRef" hide-footer title="Create new album">
          <div class="d-block">
            <form class="cover__form" id="form" enctype="multipart/form-data">
                <div v-show="!albumID">
                    <label ref="artistName"></label>
                    <input type="text" class="form-control" v-model="name" name="name" placeholder="New album name...">
                    <br>
                    <label>Release date:</label>
                    <br>
                    <input type="date" name="releaseDate" id="releaseDate" ref="releaseDate">
                    <br>
                    <label>Select album cover</label>
                    <br>
                    <input type="file" name="cover" id="cover">
                </div>
                <div v-show="albumID">
                    <label>Select songs</label>
                    <br>
                    <input type="file" name="files[]" id="files" @change="uploadSongs()" multiple>
                    <i v-if="loading" class="fa fa-refresh fa-spin" style="font-size:24px"></i>
                </div>
            </form>
          </div>
          <b-btn class="mt-3 float-right" variant="success"  @click="sendForm()">Create</b-btn>
        </b-modal>
    </div>
</template>

<script>
    export default {
        props: ['id'],
        data: function () {
            return {
                name,
                uploadedSongs:[],
                fileName: '',
                loading: false,
                image: '',
                artistID: this.$parent.artistID,
                albumID: '',
            }
        },
        mounted(){

        },
        methods:{
            showModal () {
                Event.$on('showModal', () => {
                  this.$refs.myModalRef.show()
                });
            },
            hideModal () {
                this.$refs.myModalRef.hide()
            },
            sendForm(){
                const cover = document.querySelector('#cover');
                const modal = document.querySelector('#exampleModal');
                const releaseDate = this.$refs.releaseDate.value;

                let formData = new FormData();
                formData.append('releaseDate', releaseDate);
                formData.append('name', this.name);
                formData.append('cover', cover.files[0]);
                formData.append('artistID', this.artistID);

                axios.post( '/albums/store', formData ).then( ( response ) => {
                    this.albumID = response.data;
                    console.log('album created. Redirecting in 3 seconds...')
                    setTimeout(()=>{
                        this.hideModal();
                        this.$router.push('/album/'+this.albumID);
                    },3000);

                });
            }
        }
    }
</script>
