<template>

    <div>
        <NewAlbumModal v-on:refetchAlbums="fetchArtistAlbums($event)"></NewAlbumModal>
        <div class="container" style="margin-top:20px;">
            <b-img center rounded="circle " v-bind:src="artist.photo" width="200" height="200" blank-color="#777" alt="img" class="m-1" />
            <h1 class="text-center">{{artist.name}}</h1>
            <br>
            <br>
            <div class="row">
                <div class="col-10"><h3>Albums</h3></div>
                <div class="col-2">
                    <div class="input-group-append d-none d-sm-block" style="float: right;">
                        <button class="btn btn-outline-secondary" @click="showModal()" type="button">Add</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6 col-md-3 text-center" v-for="album in albums">
                    <router-link :to="'/album/' + album.id">
                        <img class="img-fluid"  v-bind:src="album.cover">
                    </router-link>
                    <p style="font-size: 1.2em;"><strong>{{album.name}}</strong></p>
                    <p>{{album.releaseDate}}</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-10"><h3>Singles</h3></div>
                <div class="col-2">
                    <div class="input-group-append d-none d-sm-block" style="float: right;">
                        <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal" type="button">Add</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 text-center" v-for="single in singles">
                    <img class="img-fluid"  v-bind:src="single.cover">
                    <p style="font-size: 1.3em;"><strong>{{single.title}}</strong></p>
                    <button class="btn btn-danger ">Edit</button>
                    <button class="btn btn-danger" @click="playSong(single)">Play</button>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import NewAlbumModal from '../NewAlbumModal.vue';

    export default {
        components:{
            'NewAlbumModal': NewAlbumModal
        },
        props: ['id'],

        data: function () {
            return {
                names: [],
                albums: [],
                singles: [],
                artistID: this.id,
                artist: {},
            }
        },
        mounted(){
            this.fetchArtist();
        },
        methods:{
            showModal(){
                Event.$emit('showModal');
            },
            playSong(data){
                this.$emit('playSong', data);
            },
            fetchArtist(){
                axios.get('/api/artist/'+this.id).then(response => {
                    this.artist = response.data.artist;
                    this.albums = response.data.albums;
                    this.singles = response.data.singles;
                });
            }
        }
    }
</script>
