<template>
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col">
                <h5 class="trendingsText">TRENDING TRACKS</h5>
                <br>
            </div>

        </div>
        <div class="row text-center">


            <div class="col-6 col-sm-2 text-truncate" style="margin-bottom: 20px;" v-for="trendingTrack in trendingTracks">



                <div v-if="trendingTrack.album_id != null">
                    <router-link :to="'/album/' + trendingTrack.album_id">
                        <img class="img-fluid"  v-bind:src="trendingTrack.cover">
                    </router-link>
                </div>
                <div v-else>
                    <router-link :to="'/track/' + trendingTrack.id">
                        <img class="img-fluid"  v-bind:src="trendingTrack.cover">
                    </router-link>
                </div>
                <span style="color: white;font-size: 1em;">{{trendingTrack.title}}</span><br>
                <router-link :to="'/artist/' + trendingTrack.artist_id">
                        <span style="color: grey; font-size: 0.8em;">{{trendingTrack.artist}}</span>
                </router-link>

            </div>

        </div>
    </div>
</template>
<script>
    export default{
        mounted(){
            this.fetchTrendingTracks();
        },
        data(){
            return{
                trendingTracks: {}
            }
        },
        methods:{
            fetchTrendingTracks(){
                axios.get('/api/trending/').then((response) => {
                    this.trendingTracks = response.data;
                });
            }
        }
    }
</script>
<style>
    .trendingsText{
        font-weight: bold;
    }
</style>
