<template>
    <div>
        <NewAlbumModal></NewAlbumModal>
        <AddSingleModal></AddSingleModal>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <b-img center rounded="circle " v-bind:src="artist.photo" width="200" height="200" blank-color="#777" alt="img" class="m-1" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-center">{{artist.name}}</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="padding: 20px;">
            <div class="container">

                <div class="row">
                    <div class="col">
                        <h2>Albums</h2>
                    </div>
                    <div class="col">
                        <div class="input-group-append float-right">
                            <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#AddNewAlbum" type="button">Add Album</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3 text-center" v-for="album in albums">
                        <router-link :to="'/album/' + album.id">
                            <img class="img-fluid"  v-bind:src="album.cover">
                        </router-link>
                        <p style="font-size: 1.2em; padding:5px;"><strong>{{album.name}}</strong></p>
                        <p>{{album.releaseDate}}</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <h2>Singles</h2>
                    </div>
                    <div class="col">
                        <div class="input-group-append float-right">
                            <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#AddSingle" type="button">Add Single</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-md-3 text-center" v-for="single in singles">
                        <a class="btn" role="button" @click="playSong(single)">
                            <img class="img-fluid"  v-bind:src="single.cover">
                        </a>

                        <p><strong>{{single.title}}</strong></p>
                        <button class="btn btn-outline-danger" @click="deleteSong(single)">Delete</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import NewAlbumModal from './components/NewAlbumModal.vue';
    import AddSingleModal from './components/AddSingleModal.vue';

    export default {
        components:{
            'NewAlbumModal': NewAlbumModal,
            'AddSingleModal': AddSingleModal
        },
        props: ['id'],
        data: function () {
            return {
                names: [],
                albums: [],
                singles: [],
                artistID: this.id,
                artist: {},
            }
        },
        watch:{
            '$route'(to, from){
                this.fetchArtist();
            }
        },
        mounted(){
            this.fetchArtist();
        },
        methods:{
            deleteSong(single){
                console.log(single);
                axios.delete('/api/track/'+single.id).then(response => {
                    console.log(response);
                    this.fetchArtist();
                });
            },
            playSong(data){
                Event.$emit('playTrack', data);
            },
            fetchArtist(){
                axios.get('/api/artist/'+this.id).then(response => {
                    this.artist = response.data.artist;
                    this.albums = response.data.albums;
                    this.singles = response.data.singles;
                });
            }
        }
    }
</script>
