<template>
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-md-4 col text-center">
                <img class="img-fluid mx-auto d-block" width="70%" v-bind:src="album.cover"><br>
                <h4>{{album.name}}</h4>

                <span class="releaseDate">
                    <router-link :to="'/artist/' + album.artist_id">
                        {{artistName}}
                    </router-link>
                    <span v-if="album.releaseDate"> ● {{album.releaseDate}}</span>

                </span><br><br>
            </div>
            <div class="col-md-8">
                <table class="table table-dark table-hover table-borderless">
                    <tbody>
                      <tr :class="{currentTrack:track.id == playingTrack.id, trBackground:track.id == playingTrack.id}" v-for="(track, index) in tracks" @click="playingTrack = track.id" v-on:dblclick.prevent="play(track, index)">
                        <td v-show="track.id != playingTrack.id" class="align-middle" style="width:32px;">
                            <i @click="play(tracks, index)" class="material-icons align-middle btnPlayTrack" style="color: white; font-size: 2.0em;">play_circle_outline</i>
                        </td>
                        <td v-show="track.id == playingTrack.id" class="align-middle" style="width:32px;">
                            <i @click="play(tracks, index)" class="material-icons align-middle btnPlayTrack" style="color: white; font-size: 2.0em;">pause_circle_outline</i>
                        </td>
                        <td class="align-middle">
                          {{track.title}}
                        </td>
                        <td class="align-middle text-right">
                            {{track.play_count}}
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import Player from '../../Player.vue';

    export default{
        props:['id'],
        data(){
            return{
                tracks:{},
                album:{},
                artistName:""
            }
        },
        watch:{
            '$route'(to, from){
                this.fetchAlbum();
            }
        },
        computed:{
            playingTrack(){
                return this.$store.getters.playingTrack;
            }
        },
        mounted(){
            // Event.$on('currentTrack', (data) => this.playingTrack = data);
            // console.log(Player.data.track);
            this.fetchAlbum();
        },
        methods:{
            fetchAlbum(){
                axios.get('/api/album/'+this.id).then((response)=>{
                    this.album = response.data[1][0];
                    this.tracks = response.data[0];
                    this.artistName = this.tracks[0].artist;
                });
            },
            play(data, index){
                if(data){
                  Event.$emit('playTrack', data, index);
                }
            }
        }
    }
</script>
<style>
    .w-auto {
        width: auto;
    }
    .btnPlayTrack{
        cursor: pointer;
    }
    .releaseDate{
        color: grey;
    }

    .releaseDate a:link, a:visited {
        color: grey;
    }

    .currentTrack{
        color: #1db954;
    }

    .trBackground{
        background-color: #323539;
    }
</style>
