<template>
    <div>
        <!-- Modal -->
        <div class="modal fade" id="AddSingle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new singles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form class="cover__form" id="form" enctype="multipart/form-data">
                        <label>Select album cover</label>
                        <input type="file" name="files[]" id="files" multiple>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="uploadSongs()"> Upload</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
    export default{
      data(){
        return{
          artistID: this.$parent.artistID
        }
      },
      methods:{
          uploadSongs(){
              const fileInput = document.querySelector( '#files' );
              const files = fileInput.files;

              for(let i=0; i < files.length; i++){
                  let formData = new FormData();
                  formData.append('artistID', this.artistID);
                  formData.append('files[]', files[i]);

                  axios.post( '/api/upload/singles', formData ).then( ( response ) => {
                      this.loading = false;
                  })

              }
          }
      }
    }
</script>
