<template>
    <div>
        <!-- Modal -->
        <div class="modal fade" id="AddNewAlbum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new song to album</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form class="cover__form" id="form" enctype="multipart/form-data">
                <div v-show="!albumID">
                    <label ref="artistName"></label>
                    <input type="text" class="form-control" v-model="name" name="name" placeholder="New album name...">
                    <br>
                    <label>Release date:</label>
                    <br>
                    <input type="date" name="releaseDate" id="releaseDate" ref="releaseDate">
                    <br>
                    <label>Select album cover</label>
                    <br>
                    <input type="file" name="cover" id="cover">
                </div>
            </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="sendForm()"> Add</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
    export default{
        props:['id'],
        data: function () {
            return {
                name,
                uploadedSongs:[],
                fileName: '',
                loading: false,
                image: '',
                artistID: this.$parent.artistID,
                albumID: '',
            }
        },
        methods:{
            sendForm(){
                const cover = document.querySelector('#cover');
                const releaseDate = this.$refs.releaseDate.value;

                let formData = new FormData();
                formData.append('releaseDate', releaseDate);
                formData.append('name', this.name);
                formData.append('cover', cover.files[0]);
                formData.append('artistID', this.artistID);

                axios.post( '/albums/store', formData ).then( ( response ) => {
                    this.albumID = response.data;
                    this.$emit('fetchArtist');

                });
            }
        }
    }
</script>
