<template>
    <div>
        <nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav">
                <ul class="nav navbar-nav">
                    <router-link :to="'/'">
                        <span style="color: white; font-size: 1.3em; font-weight: bold;">AfghanJam</span>
                    </router-link>
                </ul>
                <ul class="nav navbar-nav mx-auto">

                </ul>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <!-- <i style="color: white; font-size: 1.4em;" class="fa fa-user" aria-hidden="true"></i> -->
                        <router-link :to="'/search'">
                                <i style="color: white; font-size: 1.8em;" class="material-icons">search</i>
                        </router-link>
                    </li>
                </ul>
        </nav>

        <router-view v-on:playTrack="playSong($event)"></router-view>
        <br><br><br><br><br><br>
        <player :song="song"></player>
    </div>
</template>

<script>
    import ArtistPage from './components/ArtistPage.vue';
    import Player from './Player.vue';

    export default {
        data(){
            return{
                song:{},
                songServer: 'https://afghanjam.ams3.digitaloceanspaces.com/medias/mp3/',
                audio:''
            }
        },
        components: {
            'ArtistPage': ArtistPage,
            'player': Player
        }
    }
</script>
