<template>
    <div class="fixed-bottom" style="background-color: #343a40;">

        <div class="row">
            <div class="col col-md-3">
                <div class="row">
                    <div class="col-auto">
                        <router-link :to="'/album/' + track.album_id">
                            <img class="img-fluid" width="75" height="75" v-if="track != ''"  v-bind:src="track.cover">
                        </router-link>
                    </div>
                    <div class="col align-self-center text-left">
                        <router-link :to="'/album/' + track.album_id">
                            <span style="color: white;">{{track.title}}</span><br>
                        </router-link>
                        <router-link :to="'/artist/' + track.artist_id">
                            <span style="color: grey;">{{track.artist}}</span>
                        </router-link>
                    </div>
                    <div class="col-auto align-self-center text-right d-block d-sm-none">
                        <a class="btn btn-controls" v-show="isPlaying" @click="pauseTrack()" >
                            <i class="material-icons" style="color: white; font-size: 2em; margin-right: 10px;">pause_circle_outline</i>
                        </a>
                        <a class="btn btn-controls align-self-center" v-show="!isPlaying" @click="resumeTrack()" >
                            <i class="material-icons" style="color: white; font-size: 2em; margin-right: 10px;">play_circle_outline</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 d-none d-sm-block">
                <div class="row" style="padding-top: 5px;">
                    <div class="col text-right align-self-center" style="padding-top: 5px; height: 40px;">
                        <a class="btn btn-controls" @click="previousTrack()" >
                            <i class="material-icons" style="color: white; font-size: 2em;">skip_previous</i>
                        </a>
                    </div>
                    <div class="col-auto text-center" style="height: 40px;">
                        <a class="btn btn-controls" v-show="isPlaying" @click="pauseTrack()" >
                            <i class="material-icons" style="color: white; font-size: 2.5em;">pause_circle_outline</i>
                        </a>
                        <a class="btn btn-controls align-self-center" v-show="!isPlaying" @click="resumeTrack()" >
                            <i class="material-icons" style="color: white; font-size: 2.5em;">play_circle_outline</i>
                        </a>
                    </div>
                    <div class="col text-left align-self-center" style="padding-top: 5px; height: 40px;">
                        <a class="btn btn-controls" @click="nextTrack()" >
                            <i class="material-icons" style="color: white; font-size: 2em;">skip_next</i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto align-self-center text-right">
                        <span style="color: white; font-size: 0.9em; padding-right: 10px;">{{currentTime}}</span>
                    </div>
                    <div class="col">
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="0" class="slider" id="myRange">
                        </div>
                    </div>
                    <div class="col-auto">
                        <span style="color: white; font-size: 0.9em; padding-right: 10px;">{{trackDuration}}</span>
                    </div>
                </div>
            </div>
            <div class="col d-none d-md-block align-self-center">
                <div class="row">
                    <div class="col text-right">
                        <i class="material-icons volume-icon" style="color: white; font-size: 1.3em;">volume_up</i>
                    </div>
                    <div class="col-auto text-right">
                        <div class="volumeContainer">
                          <input type="range"  @mousedown="volumeControl()" min="0" max="100" value="100" class="volume" id="volume">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
              track:'',
              currentTime:'0:00',
              max:0,
              audio:'',
              counter: 0,
              isPlaying: false,
              trackDuration: '0:00',
              tracks: {},
              index:0,
              currentPlayingTrack:0
            }
        },
        mounted(){
            axios.get('/api/user/getCurrentTrack').then((res)=>{
                this.track = res.data[0];
                if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                    this.audio = new Audio(this.track.url)
                }
            });
            Event.$on('playTrack', (data, index) => this.playTrack(data, index));
        },
        methods:{
            nextTrack(){
                this.index++;
                if(this.index <= (this.tracks.length - 1)){
                    this.playTrack(this.tracks, this.index);
                }else{
                    console.log('playlist ended');
                    this.index = this.tracks.length - 1;
                }
            },
            previousTrack(){
                this.index--;
                if(this.index < 0){
                    console.log("No more songs in the collection");
                    this.index = 0;
                }else{
                    if(this.index <= (this.tracks.length - 1)){
                        this.playTrack(this.tracks, this.index);
                    }
                }


            },
            volumeControl(){
                var volume = document.getElementById("volume");

                volume.oninput = ()=> {
                    var fraction = parseInt(volume.value) / parseInt(volume.max);
                    if(this.audio){
                        this.audio.volume = fraction;
                    }
                }
            },
            resumeTrack(){
                this.audio.play();
                this.isPlaying = true;
            },
            pauseTrack(){
                this.audio.pause();
                this.isPlaying = false;
            },
            playTrack(tracks, index){
                this.$store.state.playingTrack = tracks[index];
                this.tracks = tracks;
                this.index = index;

                if(this.audio){
                    this.audio.pause();
                    this.audio = null;
                }



                this.isPlaying = true;
                this.track = this.tracks[index];
                this.currentTime = '';

                var fullSongPath = this.track.url;
                var audio = new Audio(fullSongPath);

                this.audio = audio;
                this.audio.play();
                axios.get('/api/user/'+this.track.id);

                this.audio.onended = () => {
                    this.index++;
                    this.audio.currentTime = 0;

                    axios.patch('/api/track/'+this.track.id,{album_id: this.track.album_id});
                    axios.get('/api/user/'+this.track.id);

                    if(this.index <= (this.tracks.length - 1)){
                        this.track = this.tracks[this.index];
                        this.audio.src = this.tracks[this.index].url;
                        this.audio.play();
                        this.$store.state.playingTrack = this.tracks[this.index];
                    }else{
                        console.log('playlist ended');
                    }

                }


                var slider = document.getElementById("myRange");

                slider.oninput = ()=> {
                    this.audio.currentTime = slider.value;
                }

                setInterval(()=>{
                    // Event.$emit('currentTrack', this.track);

                    var mins = Math.floor(this.audio.currentTime / 60);
                    var secs = Math.floor(this.audio.currentTime % 60);
                    var totalSecs = Math.floor(this.audio.currentTime);
                    this.counter = Math.floor(this.audio.currentTime);
                    document.getElementById("myRange").value = this.counter;
                    if (secs < 10) {
                        secs = '0' + String(secs);
                    }
                    this.currentTime = mins + ':' +secs;

                    this.audio.onloadedmetadata = () => {

                        this.max = Math.floor(this.audio.duration);
                        document.getElementById("myRange").max = this.max;
                        var mins = Math.floor(this.audio.duration / 60);
                        var secs = Math.floor(this.audio.duration % 60);
                        if (secs < 10) {
                            secs = '0' + String(secs);
                        }
                        this.trackDuration = mins + ':' + secs;

                        var volume = document.getElementById("volume");
                        var fraction = parseInt(volume.value) / parseInt(volume.max);

                        this.audio.volume = fraction;
                    }

                }, 10);

            }
        }

    }
</script>

<style>
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 0px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #50e356;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.btn-controls{
    padding: 0px !important;
}

.volumeContainer {
    float: right;
    padding-right: 10px;
}

.volume {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 0px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.volume:hover {
    opacity: 1;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.volume::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.volume-icon{
    padding-top: 5px;
}
</style>
